<div class="login">
  <div class="logo-container">
    <%= image_tag "book.svg", class: "book-logo", alt: "logo" %>
  </div>

  <div class="login-form-container">
      <div class="title-container">
        <h3>Mot de passe oublie ?</h3>
        <p>Entrez vos identifiants afin de remettre votre mot de passe à zéro</p>
      </div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Entrez Votre email" %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyer moi les instructions" %>
  </div>
<% end %>
<p class="forgot">
<%= render "devise/shared/links" %>
</p>
  </div>
</div>